<div>
  <h3>Welcome to Hackevents</h3>
  <p>Find all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathonsFind all hackathons</p>
</div>

<div>
  <%= form_for(@user, url: email_profile_path, method: :patch) do |f| %>

    <div class="form-inputs">
      <%= hidden_field_tag "user[sponsor_ids][]", nil %>
      <% Sponsor.order(:twitter_handle).each do |sponsor| %>
      <div class="checkbox">
        <label>
          <%= check_box_tag "user[sponsor_ids][]", sponsor.id, @user.sponsor_ids.include?(sponsor.id) %>
          <%= sponsor.name %>
        </label>
      </div>
    <% end %>
    </div>

    <div class="form-actions">
      <%= f.submit "Continue", :class => "btn btn-primary" %>
      <%= link_to "Back", interest_profile_path, method: :get, :class => "btn btn-link" %>
    </div>
  <% end %>
</div>