<div>
  <h2 style="font-weight:200;">Well done =)</h3>
</div>

<div>
  <%= simple_form_for(@user, url: profile_path, method: :patch) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs profile-settings-form xxx">
      <h4 class="lead">We will only notify you with hackathons that you are interested in.</h4>
      <div class="shrink"><%= f.input :email, placeholder: "Please enter your email address", label: false %></div>
    </div>

    <div class="form-actions profile-settings-form">
      <%= f.button :submit, "Explore", :class => "btn btn-primary" %>
      <%= link_to "Back", affiliation_profile_path, method: :get, :class => "btn btn-link" %>
    </div>
  <% end %>
</div>