<div>
  <h2 style="font-weight:200;">Welcome to Hackevents</h3>
  <p class="lead">Hackevents helps you find and plan your next hackathon.</p><br/>
</div>

<div>
  <%= form_for(@user, url: affiliation_profile_path, method: :patch) do |f| %>

    <div class="form-inputs profile-settings-form-categories">
      <h4 class="lead">Categories</h4>
      <%= hidden_field_tag "user[category_ids][]", nil %>
      <% Category.order(:name).in_groups_of(3, false).each do |grouped_categories| %>
        <div class="row">
          <% grouped_categories.each do |category| %>
            <div class="col-md-4">
              <div class="checkbox">
                
                <label class="profile-settings-form-categories-checkbox" style="padding-left:5px;">
                  <%= image_tag "categories/#{category.name.parameterize}.png" %>
                  <%= check_box_tag "user[category_ids][]", category.id, @user.category_ids.include?(category.id) %>
                  <%= category.name %>
                </label>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>


    <div class="form-actions profile-settings-form">
      <%= f.submit "Continue", :class => "btn btn-primary" %>
      <%= link_to "Back", location_profile_path, method: :get, :class => "btn btn-link" %>
    </div>
  <% end %>
</div>