<div class="col-md-12 col-md-offset-5">
<%= image_tag @user.twitter_account.profile_image, class: "img-circle", size: "150x150" %>
</div>

<div class="col-md-12 col-md-offset-5">
  <h1>
    <%= @user.first_name %>
    <%= @user.last_name %>
  </h1>
</div>

<div class="col-md-6 text-right">
  <% @friends.each do |f| %>
      <p>Friends: <%= @user.getUser(f).name %></p>
    <% end %>
</div>

<div class="col-md-6 text-left">
    <% @followers.each do |f| %>
      <p>Followers: <%= @user.getUser(f).name %></p>
    <% end %>
</div>

<div class="col-md-12 col-md-offset-5">
  <h3>Hackathons</h3>
  <ul>
    <% @user.hackathons.each do |h| %>
      <li><%= link_to h.title, hackathon_path(h) %></li>
    <% end %>
  </ul>
</div>

<hr />

<%= link_to 'Edit', edit_profile_path, class: "btn btn-default" %>
<%= link_to 'Delete', @user , method: :delete, class: "btn btn-danger", data: { confirm: 'Are you sure?' } %>
