<p><%= @user.name %> (<%= @user.id %>) has registered a new organizer for this hackathon</p>
<br>
<p><strong>Hackathon:</strong></p>
<p><%= @hackathon.title %> on <%= @hackathon.date_start %></p>
<br>
<p><strong>Suggested User:</strong></p>
<p><%= @input %></p>