<h1>
  Hackathons
</h1>

<hr />

<p>
  <%= link_to "New", new_admin_hackathon_path, class: "btn btn-default" %>
</p>

<hr />

<%= form_tag admin_hackathons_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
<% end %>

<hr />

<% @hackathons.sort_by(&:created_at).reverse.each do |hackathon| %>
  <div style="display:inline-block;">
    <p>
      <%= l(hackathon.date_start, format: "%e %b") %>
      <%= link_to hackathon.title, edit_admin_hackathon_path(hackathon) %>
      <% if hackathon.sponsors.exists? %>
        <%= p "sponsor exists" %>
      <% end %>
    </p>
  </div>
  <div style="display:inline-block;">
    <%= link_to "Share on Twitter", "https://twitter.com/intent/tweet?text=HACKATHON%20%7C%20#{ hackathon.country.capitalize }%20%7C%20#{ hackathon.city_string.capitalize }%20%7C%20#{ hackathon.title }%20#{ hackathon.date_start.strftime("on %d %^b %Y") }%20#{ nice_hackathon_url(hackathon) }%20on%20%40Hackevents", class: "btn btn-twitter", :id => "twitter-share", target: "_blank" %>
  </div></br>
<% end %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>