<head>
<style type="text/css">
  .twitter-typeahead { width: 100%; }
  .twitter-typeahead .tt-input, .twitter-typeahead .tt-hint { width: 100%; margin: 0px; padding: 8px 12px; border: 2px solid #ccc; outline: none; }
  .twitter-typeahead .tt-input:focus { border: 2px solid #0097cf; }
  .twitter-typeahead .tt-hint { color: #999; }
  .twitter-typeahead .tt-dropdown-menu { width: 100%; padding: 0; background-color: #fff; border: 1px solid rgba(0, 0, 0, 0.2); border-top: 0px; }
  .twitter-typeahead .tt-dropdown-menu .tt-suggestion { text-align: left; padding: 3px 20px; font-size: 18px; line-height: 24px; }
  .twitter-typeahead .tt-dropdown-menu .tt-suggestion.tt-cursor { color: #fff; background-color: #0097cf; }
  .twitter-typeahead .tt-dropdown-menu .tt-suggestion em { font-weight: bold; font-style: normal; }
</style>
</head>

<h1>
  Hackathons
</h1>

<hr />

  <input class="typeahead" type="text" placeholder="Search for hackathons by name, city, ..." id="hackathon-search" spellcheck="false" />

<hr />

<p>
  <%= link_to "New", new_admin_hackathon_path, class: "btn btn-default" %>
</p>

<hr />

<% @hackathons.sort_by(&:created_at).reverse.each do |hackathon| %>
  <div style="display:inline-block;">
    <p>
      <%= l(hackathon.date_start, format: "%e %b") %>
      <%= link_to hackathon.title, edit_admin_hackathon_path(hackathon) %>
      <% if hackathon.sponsors.exists? %>
        <%= p "sponsor exists" %>
      <% end %>
    </p>
  </div>
  <div style="display:inline-block;">
    <%= link_to "Share on Twitter", "https://twitter.com/intent/tweet?text=HACKATHON%20%7C%20#{ hackathon.country.capitalize }%20%7C%20#{ hackathon.city_string.capitalize }%20%7C%20#{ hackathon.title }%20#{ hackathon.date_start.strftime("on %d %^b %Y") }%20#{ nice_hackathon_url(hackathon) }%20on%20%40Hackevents", class: "btn btn-twitter", :id => "twitter-share", target: "_blank" %>
  </div></br>
<% end %>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>