<h1>
  Hackathons
</h1>

<hr />

<p>
  <%= link_to "New", new_admin_hackathon_path, class: "btn btn-default" %>
</p>

<hr />

<% @hackathons.sort_by(&:created_at).reverse.each do |hackathon| %>
  <div style="display:inline-block;">
    <p>
      <%= l(hackathon.date_start, format: "%e %b") %>
      <%= link_to hackathon.title, edit_admin_hackathon_path(hackathon) %>
      <% if hackathon.sponsors.exists? %>
        <%= p "sponsor exists" %>
      <% end %>
    </p>
  </div>
  <div style="display:inline-block;">
    <%= link_to "Share on Twitter", "https://twitter.com/intent/tweet?text=HACKATHON%20%7C%C2%A0#{ hackathon.country }%20%7C%C2%A0#{ hackathon.city }%20%7C%C2%A0#{ hackathon.title }%20#{ hackathon.date_start.strftime("%d/%m/%Y") }%20#{ request.url }%20#{ hackathon.twitter }%20%40Hackevents", class: "btn btn-twitter", :id => "twitter-share", target: "_blank" %>
  </div></br>
<% end %>