<header class="page-header">
  <div class="container">

    <div class="col-xs-5 line"><hr></div>
    <div class="col-xs-2">
    <%= image_tag @user.twitter_account.profile_image, class: "img-circle", :style => "border: 3px solid #F57C00;", size: "150x150" %>
    </div>
    <div class="col-xs-5 line"><hr></div>

    <div class="col-xs-12" style="text-align:center;">
      <h1 style="display:inline-block;">
        <%= @user.first_name %>
        <%= @user.last_name %>
      </h1>
      <% unless @user == current_user %>
        <span style="display:inline-block; padding-left:10px; vertical-align:10px;"><%= render 'follow_form' if logged_in? %></span>
      <% else %>
        <span style="display:inline-block; padding-left:10px;">This is you.</span>
      <% end %>
      <p style="max-width:500px; margin:0 auto;">
        <%= @user.twitter_account.description %>
      </p>
      <ul class="profile-info">
        <li>
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
          <%= @user.twitter_account.location %>
        </li>
        <li>
          <%= link_to "http://www.twitter.com/#{ @user.twitter_account.username }", :target => "_blank", :style => "color:#000;" do %> 
            <span class="fa fa-twitter" aria-hidden="true"></span>
            @<%= @user.twitter_account.username %>
          <% end %>
          <br/>
        </li>
      </ul>
      
    </div>

    <nav class="page-header-navigation">
      <ul>
        <li class="page-header-navigation-tab <%= params[:style] == 'hackathons' ? 'active' : 'normal' %>">
          <h3><a href="?style=hackathons"><%= @user.hackathons.count %> Hackathons</a></h3>
        </li>

        <li class="page-header-navigation-tab <%= params[:style] == 'following' ? 'active' : 'normal' %>">
          <h3><a href="?style=following"><%= @user.following.count %> Following</a></h3>
        </li>

        <li class="page-header-navigation-tab <%= params[:style] == 'followers' ? 'active' : 'normal' %>">
          <h3><a href="?style=followers"><%= @user.followers.count %> Followers</a></h3>
        </li>
      </ul>
    </nav>

  </div>
</header>

<div class="main-content">
  <main class="profile-main">
    <div class="container">
      <% if params[:style] == 'followers' %>
        <% @user.followers.each do |f| %>
          <div class="posts">
            <ul class="posts-group">
              <li>
                <div class="post-item">
                  <% if f == current_user %>
                    <%= link_to "#{f.first_name} #{f.last_name}", profile_path %>
                  <% else %>
                    <%= link_to "#{f.first_name} #{f.last_name}", user_path(f) %>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        <% end %>
      <% elsif params[:style] == 'following' %>
        <% @user.following.each do |f| %>
          <div class="posts">
            <ul class="posts-group">
              <li>
                <div class="post-item">
                  <% if f == current_user %>
                    <%= link_to "#{f.first_name} #{f.last_name}", profile_path %>
                  <% else %>
                    <%= link_to "#{f.first_name} #{f.last_name}", user_path(f) %>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        <% end %>
      <% else %>
        <div class="hackathons">
          <% @membership_hackathon_ids = Membership.where(user_id: @user.id, hackathon_id: @user.hackathons.map{ |h| h.id }).map{ |m| m.hackathon_id } %>
         <% @user.hackathons.each do |h| %>
            <%= render partial: "hackathons/hackathon", locals: { hackathon: h, membership_hackathon_ids: @membership_hackathon_ids } %>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
</div>