<div class="block app-block-intro">
  <div class="container text-center">
    <h1 class="block-title m-b-sm text-uppercase app-myphone-brand">Hackevents</h1>
    <p class="lead m-b-lg">is the world's leading search engine for hackathons</p>
    <p class="lead ">Choose from <%= @count %> <strong class="text-primary">upcoming</strong> hackathons in <%= @city_count %> cities</p>
    <input class="typeahead input-lg form-control m-b" type="text" placeholder="Search for hackathons by name, city, ..." id="hackathon-search" spellcheck="false" />
    <div class="centered-button">
      <%= link_to "See all upcoming hackathons", hackathons_path, class: "btn btn-primary-outline btn-lg btn-block m-b" %>
    </div>
  </div>
</div>

<div class="block block-bordered-lg block-overflow-hidden p-b-0 app-block-design">
  <div class="container">
    <div class="row pos-r">
      <div class="col-sm-7 text-xs-center text-sm-left hackathons">
        <h2 class="block-title text-primary">Featured Hackathons in 2016 by Hackevents</h2> 
        <p class="lead">
        Hackathons are open and everyone should have the ability to host an event. But there are some events, that
        are outstanding in terms of love, quality and effort. Find our curated list of the best hackathons of the 
        season.
        </p>
        <% @featured.limit(10).each do |hackathon| %>
          <%= render partial: "hackathons/hackathon", locals: { hackathon: hackathon} %>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="block block-bordered-lg text-center">
  <div class="container-fluid">
    <p class="lead m-b-md">
      Find your best next hackathon with Hackevents!
    </p>

    <p>Choose from <%= @count %> <strong>upcoming</strong> hackathons in <%= @city_count %> cities</p>
    <%= link_to "See all upcoming hackathons", hackathons_path, class: "btn btn-lg btn-pill btn-primary m-b" %>
  </div>
</div>