<div class="hackathon <%= hackathon.highlighted ? "hackathon-highlighted" : "" %>">

  <div class="date">
    <div class="date-month">
      <%= hackathon.date_start.strftime("%B").first(3) %>
    </div>
    <div class="date-day-number">
      <%= hackathon.date_start.strftime("%e") %>
    </div>
    <div class="date-week-days">
      <% if hackathon.date_start != hackathon.date_end %>
        <%= hackathon.date_start.strftime("%a") %>-<%=hackathon.date_end.strftime("%a")%>
      <% else %>
        <%= hackathon.date_start.strftime("%a") %>
      <% end %>
    </div>
  </div>

  <div class="category">
    <span class="category-bar">
      <% hackathon_categories = hackathon.categories.to_a %>
      <% if hackathon_categories.count > 0 %>
        <% hackathon_categories.each do |c| %>
          <span class="category-bar-item" style="background-color: #<%= c.primary_hex_color %>; height: <%= (120 / hackathon_categories.count).to_i %>px;" data-toggle="tooltip" data-placement="left" title="<%= c.name %>">
          </span>
        <% end %>
      <% else %>
        <span class="category-bar-item" style="background-color: #000000; height: 120px">
        </span>
      <% end %>
    </span>
  </div>

  <div class="favorite">
    <% following = current_user && hackathon.users.map { |u| u.id }.include?(current_user.id)  %>
    <div class="favorite-action">
      <% if following %>
        <%= link_to unfollow_hackathon_path(hackathon), method: "post" do %>
          <span class="glyphicon glyphicon-heart glyphicon-heart" aria-hidden="true"></span>
          Favorite
        <% end %>
      <% else %>
        <%= link_to follow_hackathon_path(hackathon), method: "post" do %>
          <span class="glyphicon glyphicon-heart glyphicon-heart-empty" aria-hidden="true"></span>
          Add to Favorites
        <% end %>
      <% end %>
    </div>


    <div class="favorite-by-people">
      <% if hackathon.users.present? %>
        <% (hackathon.users.last(8)).each do |user| %>
          <% if current_user && user.id == current_user.id %>
            <%= link_to profile_path do %>
              <span style="background-image: url('<%= user.twitter_account.profile_image %>');">
                <%= user.first_name %>
                <%= user.last_name %>
              </span>
            <% end %>
          <% else %>
            <%= link_to user_path(user) do %>
              <span style="background-image: url('<%= user.twitter_account.profile_image %>');">
                <%= user.first_name %>
                <%= user.last_name %>
              </span>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>

  <div class="image">
    <%= link_to nice_hackathon_path(hackathon) do %>
      <% category_name = hackathon.categories.first ? hackathon.categories.sample.name : "Unknown"  %>
      <%= image_tag "categories/#{category_name.parameterize}.png" %>
    <% end %>
  </div>

  <div class="info">
    <h2>
      <%= link_to hackathon.title, nice_hackathon_path(hackathon), 'data-no-turbolink' => false, class: "title" %>
    </h2>

    <p class="location-and-date">
      <span class="city"><%= hackathon.city ? hackathon.city : hackathon.city_string %></span>, <span class="country"><%= hackathon.country %></span>
      <br />
      <span class="info-date">
        
        <%= hackathon.date_start.strftime("%e") %>
        -
        <%=hackathon.date_end.strftime("%e %B")%>
      </span>
    </p>

    <% if hackathon.sponsors.present? %>
      <p class="sponsors">
        <% hackathon.sponsors.each do |s| %>
          <span>
            <%= link_to image_tag(s.twitter_image_url, class: "img-rounded", size: "40x40", :title => s.twitter_name), "http://www.twitter.com/#{s.twitter_handle}", :target => "_blank", :data => { :toggle => "tooltip", :placement => "bottom" }, :title => s.twitter_name %>
          </span>
        <% end %>
      </p>
    <% end %>

  </div>

</div>
