<% if @hackathons.present? %>
  <p class="hidden-xs hidden-sm hidden-lg">
    Sort:
    <%= sort_link @q, :date_start, "Date", default_order: :desc   %>,
    <%= sort_link @q, :title, "Name" %>,
    <%= sort_link @q, :city, "City" %>,
    <%= sort_link @q, :country, "Country" %>
  </p>
  
  <hr class="hidden-xs hidden-sm hidden-lg" />
  
  <div class="hackathons">
    <% @hackathons.each do |hackathon| %>

      <%= render partial: 'hackathon', locals: { hackathon: hackathon, membership_hackathon_ids: @membership_hackathon_ids } %>

    <% end %>
  </div>
  
  
  
  
  <%= paginate @hackathons, :theme => 'twitter-bootstrap-3' %>

<% else %>

  <p>
    Sorry no Hackathons found.
  </p>
  <iframe src="//giphy.com/embed/8dTuHJeEMjxW8" width="480" height="270" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

<% end %>