<div id="categories-menu">
  <ul>
    <li id="categories-menu-all" class="<%= params[:category].present? ? "inactive" : "" %>">
      <%= link_to root_path do %>
        <span class="icon" style="background-color: #000000">
        </span>
        <span class="text">
          All
        </span>
      <% end %>
    </li>
    <% Category.all.each do |category| %>
      <li class="<%= params[:category].present? && params[:category] != category.id.to_s ? "inactive" : "" %>">
        <%= link_to root_path(category: category.id) do %>
          <span class="icon" style="background-color: #<%= category.primary_hex_color %>">
          </span>
          <span class="text">
            <%= category.name %>
          </span>
        <% end %>
      </li>
    <% end %>
  </ul>
</div>
