<div class="row">
  <div class="col-md-12">
    
    <h1>
      Hackathons in Europe
    </h1>
    <%= search_form_for @q do |f| %>
      <div class="row">
        <div class="col-xs-9">
          <%= f.text_field :title_or_country_or_city_cont, :placeholder => "Country or City or Title", :class => "form-control" %>
        </div>
        <div class="col-xs-3">
          <%= f.submit "Search", class: "form-control btn btn-primary" %>
        </div>
      </div>
    <% end %>
    
    <hr />
    
    <% if @hackathons.total_count == 0 %>
      <p>
        Sorry no Hackathons found.
      </p>
      <iframe src="//giphy.com/embed/8dTuHJeEMjxW8" width="480" height="270" frameBorder="0" style="max-width: 100%" class="giphy-embed" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <% else %>
      <%= paginate @hackathons, :theme => 'twitter-bootstrap-3' %>
      
      <table id="hackathons" class="table table-striped">
        <thead>
          <tr>
            <th><%= sort_link @q, :date_start, "Date", default_order: :desc   %></th>
            <th><%= sort_link @q, :title, "Hackathon" %></th>
            <th><%= "Weekday" %></th>
            <th><%= sort_link @q, :city, "City" %></th>
            <th><%= sort_link @q, :country, "Country" %></th>
          </tr>
        </thead>

        <tbody>
          <% @hackathons.each do |hackathon| %>
            <tr>
              <td>
                <div class="date">
                  <div class="date-day-number"><%= hackathon.date_start.strftime("%e") %></div>
                  <div class="date-month"><%= hackathon.date_start.strftime("%B").first(3) %></div>
                </div>
              </td>
              <td>
                <%= link_to hackathon.title, hackathon, 'data-no-turbolink' => false, class: "title" %>
                <br />
                <%= hackathon.city %>, <%= hackathon.country %>
              </td>

              <td>
                <% if hackathon.date_start != hackathon.date_end  %>
                <%= hackathon.date_start.strftime("%a") %> - <%=hackathon.date_end.strftime("%a")%>
                <% else %>
                <%= hackathon.date_start.strftime("%a") %>
                <% end %>
              </td>
              <td><%= hackathon.city %></td>
              <td><%= hackathon.country %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    <% end %>
    
  </div>
</div>
