<script src="//maps.google.com/maps/api/js?v=3.13&amp;sensor=false&amp;libraries=geometry" type="text/javascript"></script>
<script src='//google-maps-utility-library-v3.googlecode.com/svn/tags/markerclustererplus/2.0.14/src/markerclusterer_packed.js' type='text/javascript'></script>


<br>
<div class="well well-lg white">
  <div class="row">
    <div class="valign-wrapper">
      <div class="col s4 m2">
        <div class="btn-floating btn-medium orange"><i class="small mdi-notification-event-available"></i></div>
      </div> 
    <div class="col s8 m10 black-text">
      <h5 class="orange-text"><%= @hackathon.title %></h5>  
      <p><%= @hackathon.title %> takes place from <b><%= @hackathon.date_start.strftime("%d/%m/%Y") %></b> until <b><%= @hackathon.date_end.strftime("%d/%m/%Y") %></b></p>
      <p><%= @hackathon.city %>, <%= @hackathon.country %></p> 
      <p><%= @hackathon.date_start.strftime("%d/%m/%Y") %> - <%= @hackathon.date_end.strftime("%d/%m/%Y") %></p>
      <% if current_user.following?(@hackathon)  %>
        <%= link_to "Remove Hackathon", unfollow_hackathon_path(@hackathon), :method => :post %>
      <% else %>
        <%= link_to "Add Hackathon", follow_hackathon_path(@hackathon), :method => :post %>
      <% end %>
    </div>
  </div>
  </div>
</div>


<!-- Location -->

<div class="well well-lg white">
  <div class="row">
    <div class="valign-wrapper">
      <div class="col s4 m2">
        <div class="btn-floating btn-medium orange"><i class="medium mdi-communication-location-on"></i></div>
      </div> 
    <div class="col s8 m10 black-text">
      <h5><%= @hackathon.venue %></h5>  
      <p><%= @hackathon.address %></p>
      <p><%= @hackathon.city %>, <%= @hackathon.country %></p>     
    </div>
  </div>
</div>
</div>         




<!-- Share Button Card -->

<div class="row">
  <div class="col s12 m12">
    <div class="card white">
      <div class="card-content grey-darken-4-text">
        <div class="card-title hide-on-small-only">
          <a href="https://twitter.com/home?status=HACKATHON%20%7C%C2%A0<%= @hackathon.country %>%20%7C%C2%A0<%= @hackathon.city %>%20%7C%C2%A0<%= @hackathon.title %>%20<%= @hackathon.date_start.strftime("%d/%m/%Y") %>%20<%= request.url %>%20<%= @hackathon.twitter %>%20@hackeventsde" class="card-title orange-text" target="_blank">Share this Hackathon with your friends</a>
        </div>
        <h5><%= @hackathon.title %></h5>
         
              
        <p>
          <%= @hackathon.title %> takes places in <%= @hackathon.city %>, <%= @hackathon.country %> from <%= @hackathon.date_start.strftime("%d/%m/%Y") %> until <%= @hackathon.date_end.strftime("%d/%m/%Y") %>
        </p>
      </div>
      <div class="card-action">
        <a href="https://twitter.com/home?status=HACKATHON%20%7C%C2%A0<%= @hackathon.country %>%20%7C%C2%A0<%= @hackathon.city %>%20%7C%C2%A0<%= @hackathon.title %>%20<%= @hackathon.date_start.strftime("%d/%m/%Y") %>%20<%= request.url %>%20<%= @hackathon.twitter %>%20@hackeventsde" target="_blank">
                Share</a>
        <a href='<%= @hackathon.url %>' target="_blank">Register</a>
      </div>
    </div>
  </div>
</div>

<!-- Map Integration -->
<div class="well well-lg white">
  <div class="row">
    <div class="valign-wrapper">
      <div class="hide-on-med-and-down" id="map" style='width: 100%; height: 300px;'></div>
      <div class="hide-on-large-only hide-on-small-only"><img src="http://maps.googleapis.com/maps/api/staticmap?markers=<%= @hackathon.address %>&size=500x300&zoom=15&sensor=false" style='width: 100%; height: 300px;'></div>
      <div class="hide-on-med-and-up"><img src="http://maps.googleapis.com/maps/api/staticmap?markers=<%= @hackathon.address %>&size=300x300&zoom=15&infowindow=<%= @hackathon.title %>&sensor=false" style='width: 100%; height: 300px;'></div>
    </div>
  </div>
</div>

<!-- Report Hackathon Button -->
<div class="well well-lg white">
  <div class="row">
    <div class="valign-wrapper">
      <div class="col s4 m2">
        <div class="btn-floating btn-medium orange"><i class="medium mdi-alert-error"></i></div>
      </div> 
    <div class="col s8 m10 black-text">
      <% if logged_in? %>
        <%= mail_to 'michael@hackevents.co', 'Report Hackathon', subject: "Error with #{@hackathon.title}" %>
        <br>
        Send us an email at <%= mail_to 'michael@hackevents.co', 'Report Hackathon', subject: "Error with #{@hackathon.title}" %> if there is wrong information about this hackathon.  
      <% else %>
        <p>Please <%= link_to "log in", login_path %> to report an error in the hackathon.</p>
      <% end %>
    </div>
  </div>
</div>
</div>


<script type="text/javascript" src="http://maps.google.com/maps/api/js?v=3.exp&sensor=false"></script>
<script class="hide-on-med-and-down" type="text/javascript">
  var geocoder;
  var map;
  var address;

  function initialize() {
    var latlng = new google.maps.LatLng(48.152015087280915, 11.576017141342163);
    var mapOptions = {
      zoom: 12,
      center: latlng
    }
    map = new google.maps.Map(document.getElementById('map'), mapOptions);
    geocoder = new google.maps.Geocoder();
    address = "<%= @hackathon.address %>";
    geocoder.geocode( { 'address': address}, function(results, status) {
      if (status == google.maps.GeocoderStatus.OK) {
        map.setCenter(results[0].geometry.location);
        var marker = new google.maps.Marker({
            map: map,
            position: results[0].geometry.location
        });
      } else {
        alert('Geocode was not successful for the following reason: ' + status);
      }
    });      
  }

  google.maps.event.addDomListener(window, 'load', initialize);
</script>

