<h1>
  Categories
</h1>

<hr />

<% @categories.in_groups_of(3, false).each do |grouped_categories| %>
  <div class="row">
    <% grouped_categories.each do |category| %>
      <div class="col-md-3">
        <div class="thumbnail">
          <div style="height: 50px; background-color: #<%= category.primary_hex_color %>;">
            
          </div>
          <div class="caption">
            <p>
              <strong>
                <%= category.name %>
              </strong>
              <br />
              <%= category.hackathons.count %> Hackathons
            </p>
            <p style="margin-bottom: 0;">
              <%= link_to "edit", edit_admin_category_path(category), class: "btn btn-default btn-xs" %>
              <%= link_to "delete", admin_category_path(category), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %>
            </p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>