<div id="logo">
  <%= link_to root_path do %>
    <span>
      Hackevents
    </span>
  <% end %>
</div>

<div class="row">
  <div id="head-actions">
    <div class="col-sm-9" id="head-search-bar">
      <% if @q.present? %>
        <%= search_form_for @q do |f| %>
          <div class="input-group">
            <%= f.text_field :title_or_country_or_city_cont, :placeholder => "Search for hackathons, cities, and countries", :class => "form-control", :style => "height:80px;vertical-align:top;" %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="col-sm-3" style="text-align: right;">
      <% if current_user %>
        <div id="profile-button" class="btn-group">
          <a class="profile-button-inner img-circle" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background-image: url('<%= current_user.twitter_account.profile_image %>')">
            Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><%= link_to "Profile", profile_path %></li>
            <li><%= link_to "Settings", settings_profile_path %></li>
            <% if current_user.admin? %>
              <li><%= link_to "Admin", admin_root_path %></li>
            <% else %>
              <li>
                <%= link_to "Add", "https://hackevents.typeform.com/to/WGEBKK", class: "add-button", data: { confirm: "Found a hackathon we have not listed yet? Submit it through our Typeform! Thank you :)" }, :target => "_blank" %>
              </li>
            <% end %>
            <li><%= link_to "Log Out", logout_path, method: :delete %></li>
          </ul>
        </div>
      <% else %>
        <div id="profile-button" class="btn-group" style="text-decoration:none;">
          <%= link_to '/auth/twitter', method: 'get', class: "btn btn-primary btn-unhidden" do %>
            <span class="fa fa-twitter" aria-hidden="true"></span>
            Login
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>