<div id="menu-button">
  <a href="#" id="menu">Menu</a>
</div>
<%= render :partial => "layouts/sidebar" %>

<div id="main">
  <div id="head">
    <%= render :partial => "layouts/head" %>
  </div>
  <%= render :partial => "layouts/flash_messages" %>
  <%= yield %>
</div>
<%= render :partial => "layouts/footer" %>