<!DOCTYPE html>
<html>
<head>
    <%= analytics_init if Rails.env.production? %>
  <%= favicon_link_tag 'favicon.ico' %>
  <title>Hackevents - Find all Hackathons in Europe</title>
  <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
  <script>
    $( document ).ready(function() {
        $(".button-collapse").sideNav();
    });
 
    $( window ).load(function() {
        console.log( "window loaded" );
    });
  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>

<!-- Navbar --> 
    <nav class="white navbar-fixed">
      <ul>
        <li class="navbar-brand">
          <%= link_to hackathons_path do %>
            Hackevents
          <% end %>
        </li>
        <% if logged_in? %>
          <li class="navbar-brand-plus right">
            <%= link_to "https://hackevents.typeform.com/to/WGEBKK", data: { confirm: "Found a hackathon we have not listed yet? Submit it through out Typeform! Thank you :)" }, :target => "_blank" do %>
              <div class="btn-floating orange darken-2"><i class="mdi-content-add"></i></div>
            <% end %>
          </li>
          <li class="right"><%= link_to "Log Out", logout_path, method: :delete %></li>
          <li class="right"><%= link_to "Profile", user_path(current_user) %></li>
        <% else %>
          <li class="navbar-brand-plus right">
            <%= link_to new_user_session_path, data: { confirm: "Log in to add a new hackathon!" } do %>
              <div class="btn-floating orange darken-2"><i class="mdi-content-add"></i></div>
            <% end %>
          </li>
          <li class="right"><%= link_to "Sign Up", new_user_path %></li>
        <% end %>
      </ul>  
     </nav>
  </header>


<!-- Body -->
  <% flash.each do |type, message| %>
  <div class="alert flash <%= type %>">
    <%= message %>
  </div>
  <% end %>

  <div class="grey lighten-5 large">
    <div class="container">
      <%= yield %>
    </div>
  </div>


<!-- Footer -->
  <footer class="page-footer grey lighten-5">
    <div class="footer-copyright orange darken-2">
      <div class="container">
              © 2015 Hackevents - All Rights Reserved
        <a class="grey-text text-lighten-5 right" href="#!">Imprint & Data Privacy</a>  
      </div> 
    </div>        
  </footer>
</body>
</html>
