<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= analytics_init if Rails.env.production? %>
    <%= favicon_link_tag 'favicon.ico' %>
    
    <title>Hackevents - All Hackathons in One Place</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <% twitter site: '@Hackevents', creator: '@Hackevents' %>
    <%= metamagic %>
    
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="<%= sidebar_visible? ? "sidebar-visible" : "sidebar-hidden" %>">
    
    <% if cookies.signed[:visited_start_page] %>
      <%= render partial: "layouts/default_main" %>
    <% else %>
      <%= render partial: "layouts/first_time_main" %>
    <% end %>
    
  </body>
</html>
