<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%#= analytics_init if Rails.env.production? %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= render partial: "layouts/meta" %>
    
    <title><%= yield(:title).present? ? yield(:title) : "Hackevents – All Hackathons in One Place" %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    
    <% if Rails.env.production? %>
      <script src="//load.sumome.com/" data-sumo-site-id="8407304142b307d6d7ce9d2e3f2ef2ab9ae9a8997e27074116e9678c2f312336" async="async"></script>
    <% end %>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="sidebar-hidden<%#= sidebar_visible? ? "sidebar-visible" : "sidebar-hidden" %>">
    
    <%= render partial: "layouts/default_main", locals: { page: "home" } %>
    
    <% if Rails.env.production? %>
    <%= render partial: "layouts/scripts" %>
    <% end %>
  </body>
  <%= render :partial => "layouts/footer" %>
</html>
